body {
  user-select: none;
  font-family: "Roboto", sans-serif;
}
ul li {
user-select: none;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
table {
  cursor: default;
}
.courseScroll {
  background: #012169;
  color: #fff;
}
.courseScroll table {
  width: 100%;
}
.inputClass {
  background: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}
.inputClass input {
  border: none;
  border-bottom: 1px solid salmon;
  padding: 5px;
}
.inputClass input:focus {
  outline-width: 0;
}
#coursesTable {
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  width: calc(100% - 32px);
  margin-left: 16px;
  margin-right: 16px;
}

#coursesTable td, #coursesTable th {
  border: 1px solid #ddd;
  padding: 8px;
  width: calc(100% / 7);
  height: 35px;
  text-align: center;
}

#coursesTable tr:nth-child(even){background-color: #f2f2f2;}

#coursesTable tr:hover {background-color: #ddd;}

#coursesTable th {
  text-align: center;
  background-color: rgba(190, 190, 190, 0.589);
  color: rgb(255, 255, 255);
}

.mainContent {
  margin-top: 15px;
}